$main-color:#40C4FF;
$background-schede:#F2F8Fc;
$text-azurine:#40C4FF;
$color-hover:#9CE0FF;
$color-gray:#92919c;
$background-tabella:#F7FDFF;
$background-footer:#222222;
$color-borderbottom:#CECECE;
$color-pallini:#9CE0FF;
